<footer>
  <div class="f-info">
    <!-- LOGO -->
    <div class="f-info-logo">
      <img src="/images/brandlogo.png" alt="Wanderlust Logo" />
    </div>

    <div class="f-info-socials">
      <a
        href="https://www.facebook.com/YOUR_PROFILE"
        target="_blank"
        rel="noopener"
      >
        <i class="fa-brands fa-facebook"></i>
      </a>

      <a
        href="https://www.instagram.com/vandani_03/"
        target="_blank"
        rel="noopener"
      >
        <i class="fa-brands fa-instagram"></i>
      </a>

      <a
        href="https://www.linkedin.com/in/vachhani-vandani-60ab15341/"
        target="_blank"
        rel="noopener"
      >
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </div>

    <div class="f-info-brand">&copy; Wanderlust Private Limited</div>

    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
