<nav class="navbar navbar-expand-md navbar-light bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings">
      <i class="fa-solid fa-compass"></i>
    </a>

    <div class="navbar-nav">
      <a class="nav-link" href="/listings">Explore</a>
    </div>





    <!-- wishlist -->
    <a href="/wishlist" class="nav-wishlist">
      <i class="fa-solid fa-heart"></i>
      <% if (currUser?.wishlist?.length) { %>
      <span class="wl-count"><%= currUser.wishlist.length %></span>
      <% } %>
    </a>





    <!-- search -->
    <div class="navbar-nav mx-auto">
      <form class="d-flex align-items-center" method="GET" action="/listings/search">
        <input class="form-control me-2" type="search" placeholder="Search destinations" name="q" />
        <button class="btn btn-search" type="submit">
          <i class="fa-solid fa-magnifying-glass mt-1"></i>Search
        </button>
      </form>
    </div>

    <div class="navbar-nav ms-auto align-items-center">
      <a class="nav-link" href="/listings/new">Airbnb Your Home</a>

      <% if (!currUser) { %>
      <a class="btn btn-login me-2" href="/login">Login</a>
      <a class="btn btn-signup" href="/signup">Sign Up</a>
      <% } %> <% if (currUser) { %>
      <a class="btn btn-logout" href="/logout">Logout</a>
      <% } %>
    </div>
  </div>
</nav>